<app-navbar></app-navbar>
<div class="min-h-screen bg-gray-100 p-4">
    <!-- Botón para volver -->
    <div class="mb-4">
      <button (click)="goBack()" class="flex items-center px-2 py-2 bg-white text-gray-500 rounded-full hover:text-yellow-600 shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
      </button>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="container">
          <h2 class="text-center">Gestión de Información de Contacto</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="phoneNumber" class="block font-medium mb-1">Número de Teléfono</label>
            <div class="flex items-center space-x-2">
              <span class="inline-flex items-center px-3 rounded-l border border-gray-300 bg-gray-100 text-gray-700 text-sm">
                +52
              </span>
              <input
                id="phoneNumber"
                type="tel"
                class="form-control flex-1 rounded-r border border-gray-300 focus:ring-yellow-500 focus:border-yellow-500"
                [(ngModel)]="phoneNumber"
                placeholder="Ej. 5544332211"
              />
            </div>

          <label for="location">Ubicación</label>
          <input
            id="location"
            type="text"
            class="form-control"
            [(ngModel)]="ubication"
            placeholder="Ej. C. 12 x 3 y 4 Centro"
          />

          <label for="openedTime">Horario laboral</label>
          <input
            id="openedTime"
            type="text"
            class="form-control"
            [(ngModel)]="openedTime"
            placeholder="Ej. Lunes - Viernes de 8:00am a 7:00pm Sabado - Domingo 9:00am a 3:00pm"
          />
      
          <label for="bankAccount">Número de Tarjeta</label>
          <input
            id="bankAccount"
            type="text"
            class="form-control"
            [(ngModel)]="bankAccount"
            placeholder="Ej. 1234567891234556"
          />
      
          <label for="clabe">CLABE Interbancaria</label>
          <input
            id="clabe"
            type="text"
            class="form-control"
            [(ngModel)]="clabe"
            placeholder="Ej. 1234567899876543"
          />
      
          <label for="bankName">Nombre del Banco</label>
          <input
            id="bankName"
            type="text"
            class="form-control"
            [(ngModel)]="bankName"
            placeholder="Ingresa el nombre del banco"
          />
      
          <label for="accountHolder">Titular de la Cuenta</label>
          <input
            id="accountHolder"
            type="text"
            class="form-control"
            [(ngModel)]="accountHolder"
            placeholder="Ingresa el nombre del titular"
          />
      
          <button class="btn btn-primary mt-2" (click)="saveContactInfo()">
            Guardar Información
          </button>
        </div>
        </div>
      </div>
    </div>