/* Estilos para los encabezados de las secciones */
.section-title h6 {
  font-size: 16px;
  font-weight: bold;
  color: #98C1F1; /* Azul primario */
  margin-left: 15px;
  margin-bottom: 5px;
  text-transform:uppercase;
  padding-top:  15px;
}

/* Líneas separadoras */
hr.my-2 {
  border: none;
  height: 1px;
  background-color: #7c7878; /* Gris suave */
}

/* Estilos para los enlaces de navegación */
.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #6c757d; /* Gris estándar */
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #0556cf; /* Azul primario */
}

.nav-link.active {
  color: #0556cf; /* Azul primario */
  font-weight: bold;
  border-bottom: 2px solid #0556cf;
  padding-bottom: 3px;
}

#offcanvasNavbarLabel{
  margin-left: 5px;
}